<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/aboutUs.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
 
</head>
<body>
  <header>
    <a href="/" class="logo">AIRPLANE</a>
    <div class="bx bx-menu" id="menu-icon"></div>
    <ul class="navbar">
      <li class="menubar">
        <a href="#book">BOOK</a>
        <ul class="submenu">
          <li><a href="#option1">Book With Us</a></li>
          <li><a href="/reservationlist">Flights</a></li>
          <li><a href="#option3">Seat Sale</a></li>
        </ul>
      </li>
      <li class="menubar">
        <a href="#manage">MANAGE</a>
        <ul class="submenu">
          <li><a href="#option1">Check In</a></li>
          <li><a href="#option2">Flight Status</a></li>
          <li><a href="#option3">Manage Book</a></li>
        </ul>
      </li>
      <li class="menubar">
        <a href="#infotravel">INFO TRAVEL</a>
        <ul class="submenu">
          <li><a href="#option1">Payment Option</a></li>
          <li><a href="#option2">Special Assistance</a></li>
          <li><a href="#option3">Travel Documents</a></li>
        </ul>
      </li>
      <li class="menubar">
        <a href="#explore">EXPLORE</a>
        <ul class="submenu">
          <li><a href="#option1">Philippine Destinations</a></li>
          <li><a href="#option2">International Destinations</a></li>
          <li><a href="#option3">City Guides</a></li>
        </ul>
      </li>
      <li class="menubar">
        <a href="#aboutus">ABOUT US</a>
      </li>
      <li class="menubar">
        <a href="#higuest" class="hi">Welcome, <%= name %></a>
      <ul class="submenus">
        <li><a href="#option1">My Profile</a></li>
        <li><a href="#option2">Log Out</a></li>
      </ul>
    </li>
      <li class="menubar">
        <button class="login-button" onclick="location.href='/login'"><%= logstatus%></button>
      </li>
    </ul>
  </header>

    <section id ="Things about me" class="section2">
    <img class="profile-img" src="/flightxpress.svg" alt="Your Name - Photographer">
    <h1 class="h1A" class="name1"> About Us</h1>
    <h2 class="title2">Flight Xpress</h2>
    <h2 style="margin-top: 20px;">GET TO KNOW US</h2>
    <p>
      Welcome to Flight Xpress, your trusted partner in airline reservations. Launched with a mission to revolutionize the way people book flights, Flight Xpress combines cutting-edge technology with user-friendly interfaces to make air travel planning effortless and efficient.

      At Flight Xpress, we understand the importance of convenience and reliability. Our platform offers a comprehensive range of services designed to meet all your travel needs, whether you're booking a short domestic flight or a long-haul international journey. With Flight Xpress, you can easily compare fares, choose your preferred airlines, and customize your travel experience with just a few clicks.
      
      We pride ourselves on our commitment to customer satisfaction. Our dedicated support team is always ready to assist you with any queries, ensuring a smooth and hassle-free booking process. <br>Additionally, our secure payment gateway guarantees that your transactions are safe and protected.
      
      Flight Xpress is not just about booking flights; it's about creating memorable travel experiences. We offer exclusive deals, real-time flight updates, and a range of options to enhance your journey. Whether you're a frequent flyer or planning your first trip, Flight Xpress is here to help you every step of the way.
      
      Join us at Flight Xpress and discover a new era of air travel reservations. Your next adventure is just a click away!
    </p>
    </section>


    <section id ="Gallery">
      <h2>GALLERY</h2>

      <div class="gallery">
          <img src="https://i.pinimg.com/736x/9c/fb/8f/9cfb8f39d2db9e4a45b972b93e59bd17.jpg" alt="Photo 1">
          <img src="https://i.pinimg.com/564x/11/26/77/112677978c3d6b59a418677161c9623d.jpg" alt="Photo 2">
          <img src="https://i.pinimg.com/564x/2c/fa/c3/2cfac3409ca7ca0762ad7a3b8833eb28.jpg" alt="Photo 3">
          <img src="https://i.pinimg.com/736x/98/ea/32/98ea32fb48a95d43ca5481490544a9b0.jpg" alt="Photo 1">
          <img src="https://i.pinimg.com/564x/10/48/2e/10482e8df1e76560be73a974cb463c3d.jpg" alt="Photo 2">
          <img src="https://i.pinimg.com/564x/a2/bc/e2/a2bce2804ecacbc7ce7892352ebd1290.jpg" alt="Photo 3">
      </div>

      <h3 class="abouts"> “Where dreams are made” 
          – Flight Xpress</h3>

      <h2 style="margin-top: 20px;"> Mission and Vision </h2>
      <p>
        Mission

        At Flight Xpress, our mission is to transform the air travel booking experience by providing a seamless, efficient, and user-friendly platform that empowers travelers to plan their journeys with ease and confidence. We are committed to delivering exceptional customer service, secure transactions, and the best possible deals, ensuring that every traveler enjoys a smooth and memorable booking process from start to finish.
        
        Vision
        
        Our vision is to be the leading global airline reservation system, recognized for innovation, reliability, and excellence in customer satisfaction. We aim to revolutionize the way people book flights by continually enhancing our technology and services, making air travel more accessible and convenient for everyone. At Flight Xpress, we aspire to set new standards in the travel industry, fostering a world where booking a flight is as exciting and effortless as the journey itself.
      </p>
  </section>

    <section id ="Things about me" class="section2">
        <img class="profile-img" src="https://scontent.fmnl13-2.fna.fbcdn.net/v/t31.18172-8/12052599_725780217555824_1100888745319790307_o.jpg?_nc_cat=109&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEUALU2Oy7dBclOHO4jET6CcZPLEzF2Cp9xk8sTMXYKn9JJS9aGrpcq0HXnXSRZWD9epCFvILnzbaYNI_CpW68S&_nc_ohc=zCWGhwMLoPAQ7kNvgECt1IP&_nc_ht=scontent.fmnl13-2.fna&oh=00_AYBOOIRbc__txdlYE1L8jvCsuTqMge98O3-YHE-LBjar_g&oe=669DDE86" alt="Your Name - Photographer">
        <h1 class="h1A" class="name1"> Vincent A. Sadili,  20</h1>
        <h2 class="title2">Back End</h2>
        <h2 class="getto">GET TO KNOW ME</h2>
        <div class="pcont">
          <p>
            Atin ang bansang pilipinas, akin ka lang!
        </p>
        </div>
    </section>

    <section id ="Things about me" class="section2">
      <img class="profile-img" src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t1.18169-9/10423846_1018744984808964_1426682295455054592_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGJ2VUlypD21JUYSgocvySNOozA1T8xqCY6jMDVPzGoJreHoFAXsbo7Ihu0SzH293rhgV5ByDty4Mxrwscl4yDu&_nc_ohc=ao0ahNEgzqcQ7kNvgGS0HKV&_nc_ht=scontent.fmnl13-1.fna&oh=00_AYAIq5zJrqp8fqgfH0sTJpTlYl8jX4sRTzGqYivUXYyOrQ&oe=669DF956" alt="Your Name - Photographer">
      <h1 class="h1A" class="name1"> Spencer Daniel M. Madia,  20</h1>
      <h2 class="title2">Back End</h2>
      <h2 class="getto">GET TO KNOW ME</h2>
      <div class="pcont">
      <p>
          I am Batman!
      </p>
    </div>
  </section>

  <section id ="Things about me" class="section2">

    <img class="profile-img" src="https://scontent.fmnl13-1.fna.fbcdn.net/v/t31.18172-8/10733928_729045213850049_5988678239548333010_o.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFn4t37sbGUUyZpXN79Heb5S5CDMySKDb1LkIMzJIoNvegF3XBa9cAy4DT8is6U0dgR4FVjzKeihtDuj42c9n6z&_nc_ohc=Mvm88yYfRFIQ7kNvgHPRnQ8&_nc_ht=scontent.fmnl13-1.fna&oh=00_AYBRlmz6n-QWgBOUZWKMGP5heU5qZHoiybpcwSJ4mXjpKg&oe=669DED91" alt="Your Name - Photographer">
    <h1 class="h1A" class="name1"> Steven Kenth B. Sulayao,  20</h1>
    <h2 class="title2">Front End</h2>
    <h2 class="getto">GET TO KNOW ME</h2>
    <div class="pcont">
    <p>
        Baranda and Ally Forever!
    </p>
  </div>
</section>

<section id ="Things about me" class="section2">

  <img class="profile-img" src="https://scontent.fmnl30-1.fna.fbcdn.net/v/t1.18169-9/10858513_857098544334350_772085631789513936_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeG6Xhxw8W8orHX1bpT4cZiNO29-L7E6gh47b34vsTqCHlwqzt8AO0rjJHbPkGhpzwycjeDcdq_SYoAiujitbP6Z&_nc_ohc=It9zzydv-pkQ7kNvgFPIJ4Y&_nc_ht=scontent.fmnl30-1.fna&cb_e2o_trans=t&oh=00_AYAWSRRRb2OxD193hCbWwSvV_QNicuBrdp0JHpoIq-qQaw&oe=669DD199" alt="Your Name - Photographer">
  <h1 class="h1A" class="name1"> Elijah Joshua A. Gundayao,  20</h1>
  <h2 class="title2">Front End</h2>
  <h2 class="getto">GET TO KNOW ME</h2>
  <div class="pcont">
  <p>
    Saludo sayo @Vincent Sadili pati gitnang daliri ko sumasaludo sayo 🖕
  </p>
</div>
</section>

<footer> 
  <div class="fheading">
    <div class="fcontent">
      <h3>Get the latest news and Updates</h3>
      <p>
        Your trusted partner in travel, offering exceptional service and seamless experiences!
      </p>
    </div>
    <div class="input-container">
    <input type="text" autocomplete="off" name="text" class="input" placeholder="Enter Your Email Address!">
    <button><span class="button_top"> Subscribe! </span></button>
  </div>
  </div>

  <div class="footer">
    <div class="main">
        <div class="col">
            <h4>BOOK</h4>
            <ul>
                <li><a href="#Flights">Flights</a></li>
                <li><a href="#SeatSale">Seat Sale</a></li>
                <li><a href="#PassengerCargo">Passenger and Cargo</a></li>
                <li><a href="#AccountRegis">Account Registration</a></li>
                <li><a href="#Partner">Partner Agents</a></li>
            </ul>
        </div>
        
        <div class="col">
            <h4>MANAGE</h4>
            <ul>
                <li><a href="#Check In">Check In</a></li>
                <li><a href="#Manage Booking">Manage Booking</a></li>
                <li><a href="#Flight Status">Flight Status</a></li>
                <li><a href="#Add Ons">Add Ons</a></li>
                <li><a href="#Special">Special Assistance</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>TRAVEL INFO</h4>
            <ul>
                <li><a href="#Baggage Info">Baggage Info</a></li>
                <li><a href="#Payment Options">Payment Options</a></li>
                <li><a href="#Travel Advisories">Travel Advisories</a></li>
                <li><a href="#Booking">Booking and Check In</a></li>
                <li><a href="#Service Fee">Services Fee</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>Explore</h4>
            <ul>
                <li><a href="#Explore">Explore</a></li>
                <li><a href="#Ph Destination">Philippine Destination</a></li>
                <li><a href="#City Guides">City Guides</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>About</h4>
            <ul>
                <li><a href="#About">About</a></li>
                <li><a href="#Our Story">Our Story</a></li>
                <li><a href="#Talk to Us">Talk to Us</a></li>
                <li><a href="#Campaign">Campaign and Partners</a></li>
            </ul>
        </div>

        <div class="col">
            <h4>Contact Us Here!</h4>
            <div class="social">
            <a href=""><i class='bx bxl-facebook'></i></a>
            <a href=""><i class='bx bxl-instagram' ></i></a>
            <a href=""><i class='bx bxl-twitter' ></i></a>
            <a href=""><i class='bx bxl-youtube'></i></a>
            </div>
        </div>
    </div>
</div>
</footer>
</body>
</html>
