<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/public/css/aboutUs.css">
</head>
<body>
    <header>
        <a href="#" class="logo">AIRPLANE</a>
        <div class="bx bx-menu" id="menu-icon"></div>
        <ul class="navbar">
          <li class="menubar">
            <a href="#book">BOOK</a>
            <ul class="submenu">
              <li><a href="#option1">Book With Us</a></li>
              <li><a href="#option2">Flights</a></li>
              <li><a href="#option3">Seat Sale</a></li>
            </ul>
          </li>
          <li class="menubar">
            <a href="#manage">MANAGE</a>
            <ul class="submenu">
              <li><a href="#option1">Check In</a></li>
              <li><a href="#option2">Flight Status</a></li>
              <li><a href="#option3">Manage Book</a></li>
            </ul>
          </li>
          <li class="menubar">
            <a href="#infotravel">INFO TRAVEL</a>
            <ul class="submenu">
              <li><a href="#option1">Payment Option</a></li>
              <li><a href="#option2">Special Assistance</a></li>
              <li><a href="#option3">Travel Documents</a></li>
            </ul>
          </li>
          <li class="menubar">
            <a href="#explore">EXPLORE</a>
            <ul class="submenu">
              <li><a href="#option1">Philippine Destinations</a></li>
              <li><a href="#option2">International Destinations</a></li>
              <li><a href="#option3">City Guides</a></li>
            </ul>
          </li>
          <li class="menubar">
            <a href="#aboutus">ABOUT US</a>
          </li>
          <li class="menubar">
            <button class="login-button" onclick="location.href='/login'">LOG IN</button>
          </li>
        </ul>
      </header>


</body>
</html>