@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

h3 h1{
  font-family: "Roboto Condensed", sans-serif;
}

.display-flex-wrap{
    display: flex;
    flex-wrap: wrap;
}
/* header */
.filler{
  width: 100%;
}
header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    background-color: #1A2061;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav{
    width: auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    margin-right: 10px;
}
.logo{
    width: 80px;
    cursor: pointer;
    margin-left:50px ;
}
.proIcon{
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
}
nav ul{
    list-style: none;
    width: 100%;
    text-align: center;
    padding:60px ;   
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a{
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    color: whitesmoke;
}

.userAccount{
    align-items: center;
    justify-content: space-between;
}
.userAccount button{
    width:80px;
    height: 50px;
    margin-right: 10px;
}
/* header button */


/* /header button */

/* header */

/* button hover effect */
.btn-effect{
    box-shadow: inset 0px 0px 0px 0px cornflowerblue;
    transition: ease-out 0.4s;
    outline: none;
}

.btn-effect:hover{
    box-shadow: inset 250px 0px 0px 0px cornflowerblue;
    cursor: pointer;
    color: white;
}
/* /button hover effect */


/* sub header */

.subHeader{
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    /* background-color: grey; */
    /* background-image: url(https://images.unsplash.com/photo-1559305289-4c31700ba9cb?q=80&w=1546&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ; */
    background-size: cover;  
}

.carousel-item img {
  width: 100%;
  height: 550px;
  object-fit: cover;
}
.search-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    justify-content:center;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
  
}

form {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    gap:0.5em;
   
}

.search-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchBtn {
    width: 700px;
    padding: 10px;
    color: #30292F;
    cursor: pointer;
    font-size: 16px;
    appearance: none;
    background-color: #F7B53B;
    border: 0.125em solid #f7a50e;
    border-radius: 0.9375em;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    letter-spacing: 1.5px;
    
}

.date-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.blogp{
  padding-left: 1rem;
}

.searchBtn:hover {
    background-color: #F5A614;
    font-weight: bolder;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  justify-content:space-around;

}
.card{
  width: 400px;
  height: auto;
  background-color: #1E2571;
  gap: 0.5em;
  margin-bottom: 0.5em;
  padding: 20px;
  color: #FAFFEB;
}


.rmButt{
  padding: 12px 24px;
  border: 1.5px solid #6d9cee;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 13px;
  cursor: pointer;
  color: whitesmoke;
  background-color: #5986d4;
  z-index: 1;
  font-weight: bold;
  margin-top: 10px;
}

.rmButt:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
.rmButt::after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #dfaf12;
  border-radius: 50%;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  font-weight: bolder;
}

.rmButt:hover {
  color: #ffffff;
  border: 1px solid #dfaf12;
  font-weight: bolder;
}

.rmButt:hover:before {
  top: -35%;
  background-color: #dfaf12;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.rmButt:hover:after {
  top: -45%;
  background-color: #dfaf12;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  font-weight: bolder;
}

.card p{
  width: 100%;
  color: #FAFFEB;
}
main{
    margin-top: 20px;
}

footer{
  padding: 20px;
  flex-wrap: wrap;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.fheading{
  display: flex;
  background-color: #F7B53B;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
  padding: 20px;  border-radius: 10px 10px 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Roboto Condensed", sans-serif;
  
}
.fheading input{
  width: 400px;
  height: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.fheading button{
  width: 150px;
  height: 40px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.mainfooter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.fbox{
  display: flex;
  flex-direction: column;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 0.5em;
  background-color: #1E2571;
  border-radius: 10px;
  color: white;
}

.subs{
  padding: 12px 10px;
  
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: inherit;
  cursor: pointer;
  color: black;
  z-index: 1;
  font-weight: bold;
  
}

.subs:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
.subs::after {
  content: "";
  position: absolute;
  border: 2.5px solid #194797;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #325185;
  border-radius: 50%;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
  font-weight: bolder;
}

.subs:hover {
  color: #ffffff;
  font-weight: bolder;
}

.subs:hover:before {
  top: -35%;
  background-color: #325185;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.subs:hover:after {
  top: -45%;
  background-color: #325185;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  font-weight: bolder;
}

@media (max-width: 600px) {
  body {
      padding-right: 1em; /* Reduce padding for smaller screens */
  }

  .form-container {
      width: 100%; /* Make the form container take full width on small screens */
      max-width: 300px; /* Optional: limit max width */
  }

  input[type="text"],
  input[type="password"] {
      width: 100%; /* Make inputs take full width on small screens */
  }
}

